/NCPAC_LambdaX/.vs/NCPAC_LambdaX/DesignTimeBuild/.dtbcache.v2
/NCPAC_LambdaX/.vs/NCPAC_LambdaX/v17/.futdcache.v2
/NCPAC_LambdaX/.vs/NCPAC_LambdaX/v17/.suo
/NCPAC_LambdaX/.vs/ProjectEvaluation/ncpac_lambdax.metadata.v5.1
/NCPAC_LambdaX/.vs/ProjectEvaluation/ncpac_lambdax.projects.v5.1
/NCPAC_LambdaX/NCPAC_LambdaX/NCPAC.db-shm
/NCPAC_LambdaX/NCPAC_LambdaX/NCPAC.db-wal
/NCPAC_LambdaX/NCPAC_LambdaX/bin/Debug/net6.0/NCPAC_LambdaX.dll
/NCPAC_LambdaX/NCPAC_LambdaX/bin/Debug/net6.0/NCPAC_LambdaX.pdb
/NCPAC_LambdaX/NCPAC_LambdaX/obj/Debug/net6.0/NCPAC_LambdaX.csproj.AssemblyReference.cache
/NCPAC_LambdaX/NCPAC_LambdaX/obj/Debug/net6.0/NCPAC_LambdaX.dll
/NCPAC_LambdaX/NCPAC_LambdaX/obj/Debug/net6.0/NCPAC_LambdaX.pdb
/NCPAC_LambdaX/NCPAC_LambdaX/obj/Debug/net6.0/ref/NCPAC_LambdaX.dll
/NCPAC_LambdaX/NCPAC_LambdaX/obj/Debug/net6.0/refint/NCPAC_LambdaX.dll
/NCPAC_LambdaX/NCPAC_LambdaX/obj/staticwebassets.pack.sentinel