@model NCPAC_LambdaX.Models.ActionItem

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ActionItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActionItemTitle" class="control-label"></label>
                <input asp-for="ActionItemTitle" class="form-control" />
                <span asp-validation-for="ActionItemTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetingID" class="control-label"></label>
                <select class="form-control" id="MeetingID" name="MeetingID" asp-items="ViewBag.MeetingID">
                </select>
                <span asp-validation-for="MemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberID" class="control-label"></label>
                <select class="form-control" id="MemberID" name="MemberID" asp-items="ViewBag.MemberID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TimeAppointed" class="control-label"></label>
                <input asp-for="TimeAppointed" class="form-control" />
                <span asp-validation-for="TimeAppointed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeUntil" class="control-label"></label>
                <input asp-for="TimeUntil" class="form-control" />
                <span asp-validation-for="TimeUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label custom-file-label">Upload Documents:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="theFiles" multiple="multiple">
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/multiselect.js"></script>
    <script src="~/js/refreshDDL.js"></script>
}

