@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <title>NCPAC</title>
    <style>
        /* Add styles for white and blue color theme */
        body {
            background-color: white;
            background-image: url('https://static.vecteezy.com/system/resources/previews/003/557/257/original/abstract-blue-and-gray-wave-background-free-vector.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        h1, h2, h3, h4, h5, h6 {
            color: #0077be;
        }

        a {
            color: #0077be;
            text-decoration: none;
        }
        /* Add CSS for complex components */
        .container {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
        }

        .card {
            width: 25%;
            background-color: white;
            border: 1px solid ##006ba1;
            padding: 20px;
            margin: 20px;
        }

        h1 {
            margin-top: 3%;
            margin-bottom: 1%;
        }

        .card img {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to NCPAC Manager</h1>
        <br />
        <p>It is critical to Niagara College to have input from all stakeholders, internal and external, to ensure quality and ongoing improvement in our programs. <br /> Both practices and processes ensure standardized and regular quantitative and qualitative data from stakeholder is gathered to inform plans and actions with <br /> regards to continuous improvement.</p>
        <div class="card">
            <h2>My Account</h2>
            <p>View your member account. Edit your personal details</p>
            <a href="./MemberAccount/Details">Click Here</a>
        </div>
        <div class="card">
            <h2>Login</h2>
            <p>Click here to login to your profile. Login is required for most of the tasks in the application</p>
            <a href="./Identity/Account/Manage" target="_blank">Click Here</a>
        </div>
        <div class="card">
            <h2>Meetings</h2>
            <p>Check if you have any meetings (Login Required)</p>
            <a href="./Meetings" target="_blank">Learn More</a>
        </div>
        <div class="card">
            <h2>Polls</h2>
            <p>Review existing polls of the NCPAC. (Login Required)</p>
            <a href="" target="_blank">Learn More</a>
        </div>
        <div class="card">
            <h2>Contact Admin</h2>
            <p>Users, If you are having any trouble with the application contact the admin.</p>
            <a href="mailto: ncpacinfo@niagaracollege.ca">Email</a>
        </div>
    </div>
</body>
</html>
